<ion-content>
  <div id="floating-panel">
    <b>ต้นทาง: </b>
    <select [(ngModel)]="start" id="start" (change)="calculateAndDisplayRoute()">
      <option value="{{startlat}},{{endlng}}">ตำแหน่งปัจุบัน</option>
      <option *ngFor="let item of items" value="{{item.lat}},{{item.lng}}">{{item.title}}</option>
    </select><br>
    <b>ปลายทาง: </b>
    <select [(ngModel)]="end" id="end" (change)="calculateAndDisplayRoute()">
      <option *ngFor="let item of items" value="{{item.lat}},{{item.lng}}">{{item.title}}</option>
    </select>
    <br>
    <b>เดินทางโดย: </b>
    <select [(ngModel)]="mode" id="mode" (change)="calculateAndDisplayRoute()">
      <option value="DRIVING">ขับรถ</option>
      <option value="BICYCLING">รถจักรยาน</option>
      <option value="TRANSIT">รถสาธารณะ</option>
      <option value="WALKING">เดินเท้า</option>
    </select>
    </div>
    <div id="maphight">
      <div #map id="map"></div>
    </div>
    <div id="right-panel"></div>
</ion-content>
